body {
    font-family: 'Lemon', serif;
    text-align: center;
}

#opponent-weapon {
    width: 240px;
    height: 240px;
    margin-top: 10px;
}

#player-weapon {
    width: 240px;
    height: 240px;
    margin-top: 10px;
}

#weapons {
    width: 400px;
    height: 80px;
    margin: 0 auto;
    margin-top: 10px;
}

#weapons img {
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: 100%;
}