body {
    font-family: 'Lemon', serif;
    text-align: center;
    background-color: rgb(220, 111, 167);
}

#opponent-weapon {
    width: 240px;
    height: 240px;
    margin-top: 10px;
    border: 4px solid black;
    background-color: rgb(98, 219, 223);
}

#player-weapon {
    width: 240px;
    height: 240px;
    margin-top: 10px;
    border: 4px solid black;
    background-color: rgb(98, 219, 223);
}

#weapons {
    width: 400px;
    height: 80px;
    margin: 0 auto;
    margin-top: 10px;
    border: 4px solid black;
    background-color: rgb(98, 219, 223);
}

#weapons img {
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: 100%;
}